# Tuple
### Agenda Today
1. Tuple introduction
2. tuple object
3. indexing
4. Accessing tuple elements
5. built-in methods
6. Concatenation and repetition operator
7. Comparison operators
8. tuple object methods
9. slicing operator
10. user input

# 1.Tuple
* Tuple is a class
* tuple is iterable
* tuple is immutable
* tuple is hashable
* tuple is a sequence
* you can store heterogeneous data in tuple

# 2.How to create tuple object

In [69]:
t1=(1,2,4) 
t2=()
t3=(23) # not a tuple
t=(23,) # this is tuple.. this is correct way to create tuple with single object
t4=10,20,45,34,3,5,5, # this is also tuple...you are allowed to remove parenthesis..only in case of tuple

In [70]:
print(type(t3))
print(type(t2))
print(type(t4))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

# 3. Indexing
Same as list and string

In [71]:
t4[1]

20

In [72]:
t4[-1]

5

In [73]:
t4

(10, 20, 45, 34, 3, 5, 5)

In [74]:
t4[::-3]

(5, 34, 10)

In [75]:
t01=(34,32,3,)

In [76]:
t01[2]

3

# 4. Accessing Tuple elements
* through indexing
* through loops

In [77]:
i=0
while i<len(t01):
    print(t01[i],end=" ")
    i+=1

34 32 3

In [78]:
for i in t01:
    print(i)

34
32
3

# 5.built-in methods
* len()
* min()
* max()
* sum()
* sorted()

In [79]:
len(t4)

7

In [80]:
T="abhi","Delhi","Mohanjodaro",54

In [81]:
T1="abhi","Delhi","Mohanjodaro","fff"

In [82]:
min(T)

TypeError: '<' not supported between instances of 'int' and 'str'

In [83]:
max(t01)

34

In [84]:
min(t4)

3

In [85]:
max(t4)

45

In [86]:
sorted(T)

TypeError: '<' not supported between instances of 'int' and 'str'

In [87]:
sorted(T1)

['Delhi', 'Mohanjodaro', 'abhi', 'fff']

In [88]:
# you can convert tuple into list  and list into tuple
l1=list(T)

In [89]:
print(T)
print(l1)

('abhi', 'Delhi', 'Mohanjodaro', 54)
['abhi', 'Delhi', 'Mohanjodaro', 54]

In [90]:
l=[3,4,52,]
type(l)

list

In [91]:
tu=tuple(l)
print(tu)

(3, 4, 52)

# 6. Concatenation and Repetition Operator

In [92]:
t1+t4

(1, 2, 4, 10, 20, 45, 34, 3, 5, 5)

In [93]:
t1

(1, 2, 4)

In [94]:
t1*3

(1, 2, 4, 1, 2, 4, 1, 2, 4)

# 7. Comparison Operator
You can compare two tuples. It will check the first element of both tuples , if first elements are same, it will check next and so on... 
for equal to (==), both tuple must be same

In [95]:
T1="Abhi","Gol","Ere"
T2="Abh",5,"35"

In [96]:
T1>T2

True

In [97]:
T1==T2

False

# 8 Tuple Objects
 Tuple has only two functions
* index()
* count()

In [98]:
t4.index(45)

2

In [99]:
t4.count(5)

2

# 9. Slicing Operator
Works the same way
* Syntax=t1[beg:end:step]

In [101]:
t4

(10, 20, 45, 34, 3, 5, 5)

In [105]:
t4[1:5:-1]

()

In [106]:
t4[5:1:-1]

(5, 3, 34, 45)

# 10.user input
* Note: Tuple doesn't support tuple comprehension like list does for list comprehension

In [121]:
"AbhishekBChaubey".split("B")

['Abhishek', 'Chaubey']

In [122]:
tuple([int(e) for e in input().split(",")])

5,7,8,2

(5, 7, 8, 2)

In [115]:
tu=tuple([2,3,4])
tu

(2, 3, 4)

In [123]:
t02=tuple(range(5))

In [124]:
print(t02)

(0, 1, 2, 3, 4)