# Dict
### Agenda today
1. Dict introduction
2. Creating Dict Object
3. Accessing dict elements
4. buil-in methods
5. concatenation and repetition
6. comparison operator
7. dict object methods
8. dict comprehension
9. user input

# 1.Dict introdcution 
> * Dict elements are pair of key-value and data-value
> * Dict is a class 
> * Dict is mutable
> * Dict is not hashable
> * Dict is iterable
> * Dict cannot have duplicate keys(not data-values)
> * indexing is not applicable to dict object 
> * slicing operator is not applicable
> * Data value can be repeated

# 2. How to create Dict Object
> Ques: When to create dict object

> Answer: We create dict object when we have to store data in pair..we have to store associated data.. for example
* Roll no        Student name
* 102            "Rahul"
* 103           "Payal"
* 106            "Arjun"
* 107            "Prachi"

In [21]:
d1={102:"Rahul",103:"payal",106:"Arjun",107:"Prachi"}

In [22]:
d2={}

> Note: When we create dict object through dict function, we dont separate key-data with :, we separate with =..actually with keywords argunment in function.. 
Whenever you pass keyword argunment in dict function, the variable will become key-value as a string

In [23]:
# you can't pass constant in variable in dict function because of its keyword argunment
d01=dict(a=10,b=10,c=30)
print(d01)

{'a': 10, 'b': 10, 'c': 30}

> key-value can be any type...
data-value can also be of any type
but when you are creating dict object with dict function, the key-values will always be of str type

In [24]:
d={105:"Abhishek","G":235}

In [25]:
print(d)
type(d)

{105: 'Abhishek', 'G': 235}

dict

In [26]:
print(d1)

{102: 'Rahul', 103: 'payal', 106: 'Arjun', 107: 'Prachi'}

# 3.you can access data value

In [27]:
# you can access data value through key value
print(d1[102])

Rahul

In [28]:
d1[103]

'payal'

In [29]:
# you can access them through for loop..in k every key will be accessed
for k in d1:
    print(k)

102
103
106
107

In [30]:
for k in d1:
    print(k,":",d1[k])

102 : Rahul
103 : payal
106 : Arjun
107 : Prachi

# 4. How to edit dict element
> editing dict element means you want to change its data value. You cant change its key value.. for changing key value, you have to delete key value and then add it.

In [31]:
d1

{102: 'Rahul', 103: 'payal', 106: 'Arjun', 107: 'Prachi'}

In [32]:
# let's say we want to change Rahul to Ravi
# syntax= dictobject[key value]= data value (you want to edit)
d1[102]="Ravi"

In [33]:
d1

{102: 'Ravi', 103: 'payal', 106: 'Arjun', 107: 'Prachi'}

In [34]:
d

{105: 'Abhishek', 'G': 235}

In [35]:
d['G']=200
print(d)

{105: 'Abhishek', 'G': 200}

> ##### if you want to associate mutliple data values with single key, you have to pass list or tuple

In [36]:
d[105]=["Abhishek",800,"Swati"]

In [37]:
d

{105: ['Abhishek', 800, 'Swati'], 'G': 200}

# 5. How to change the key value by deleting and adding

In [38]:
# what if u want to change the key 102 to 101
d1

{102: 'Ravi', 103: 'payal', 106: 'Arjun', 107: 'Prachi'}

In [39]:
# for this we have to del the key
del d1[102]
print(d1)

{103: 'payal', 106: 'Arjun', 107: 'Prachi'}

### now you can add new element in the dictionary
> syntax= dictobject[new value]=data-value.
syntax of editing and adding is the same.. when key-value 
already exists, it gets edited.. and when key value doesnt exist, it gets added...

In [40]:
d1[101]="Ravi"
print(d1)

{103: 'payal', 106: 'Arjun', 107: 'Prachi', 101: 'Ravi'}

#  6.Special methods of dict class
* items() : returns collection of dict elements
* keys (): returns collection of key-values of the dict elements
* values(): returns collection of data-values of the elements
> #### All these methods are attributes of dict class. Althoug, we have others attributes as well which we will see later in this class.

In [57]:
# you can check the data type of d1.items as well..
# you will notice that there is class of dict_items.. so it 
# returns the object of "dict_items" class..
# here in dict_items, each dict element is a tuple...
# is this dict_items class is also iterable?
# yes, it is also iterble.. we can apply for loop on this
print(d1.items())
print(type(d1.items()))

dict_items([(103, 'payal'), (106, 'Arjun'), (107, 'Prachi'), (101, 'Ravi')])
<class 'dict_items'>

In [58]:
for x in d1.items():
    print(x)

(103, 'payal')
(106, 'Arjun')
(107, 'Prachi')
(101, 'Ravi')

In [59]:
# here we are doing unpacking
for k,v in d1.items():
    print(k,v)

103 payal
106 Arjun
107 Prachi
101 Ravi

In [61]:
# this returns the object of "dict_keys" class.. and this returns
# only key-values
print(d1.keys())
print(type(d1.keys()))

dict_keys([103, 106, 107, 101])
<class 'dict_keys'>

In [60]:
for k in d1.keys():
    print(k)

103
106
107
101

In [62]:
# this returns the object of "dict_values" class.. and this returns
# only data-values
print(d1.values())
print(type(d1.values()))

dict_values(['payal', 'Arjun', 'Prachi', 'Ravi'])
<class 'dict_values'>

In [63]:
for d in d1.values():
    print(d)

payal
Arjun
Prachi
Ravi

# 7.built-in methods
* len(): returns the value of no of paired values
* min(): returns the minimum of key-values.. will give error if datas are not appliable
* max(): returns the maximum of key-values... will give      error if datas are not appliable
* sum(): returns the sum of key-values.. will give error if keys data are of different type 
* sorted():  return the list of sorted key-values

In [64]:
len(d1)

4

In [65]:
min(d1)

101

In [66]:
max(d1)

107

In [67]:
sum(d1)

417

In [68]:
sorted(d1)

[101, 103, 106, 107]

In [70]:
d01["d"]="Abhi"
print(d01)

{'a': 10, 'b': 10, 'c': 30, 'd': 'Abhi'}

In [71]:
d01[24]=36
print(d01)

{'a': 10, 'b': 10, 'c': 30, 'd': 'Abhi', 24: 36}

In [73]:
sum(d01)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
max(d01)

TypeError: '>' not supported between instances of 'int' and 'str'

In [75]:
min(d01)

TypeError: '<' not supported between instances of 'int' and 'str'

In [76]:
sorted(d01)

TypeError: '<' not supported between instances of 'int' and 'str'

# 8.Concatenation and Repetition Operator

> ### they are not supported on dict
      * dict+dict -  not supported
      * dict*int  -  not supported

# 9.Comparison Operator
>    * d1>d2 - not supported
     * d1>=d2 - not supported 
     * d1<d2  - not supported
     * d1<=d2  - not supported
     
  * d1==d2 - supported
  * d1!=d2 - supported
* Two dict objects are equal if their items are               equal. Elements can be stored in any order

# 10 dict object methods
* pop(key) : returns only data value of the object but delete whole pair. 
* popitem(): 
* clear()

> ## question: what is the difference between del and pop()

Answer: del is keyword, and pop() is a function.. del just delete and doesn't return anything whereas pop returns datavalue..

In [78]:
d1

{103: 'payal', 106: 'Arjun', 107: 'Prachi', 101: 'Ravi'}

In [79]:
d1.pop(107)

'Prachi'

In [80]:
d1

{103: 'payal', 106: 'Arjun', 101: 'Ravi'}

In [81]:
d1.popitem() # it returns the tuple which has been deleted from
# list.. we dont pass any argunment in it

(101, 'Ravi')

In [82]:
d1

{103: 'payal', 106: 'Arjun'}

In [84]:
d1.clear() # it clears all the element and becomes empty dict

In [85]:
print(d1)
print(type(d1))

{}
<class 'dict'>

# 11.Dict Comprehension
> syntax= d1={key-expression:data-expression for v in seq}

In [90]:
d3={e:e**2 for e in range(1,6)}

In [91]:
print(d3)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 12. User input

In [93]:
# lets say we want to take input of roll no and student name
n=int(input("How many student data you want to store"))
d3={}
for e in range(1,n+1):
    key=int(input("Enter the roll number"))
    data=input("Enter student name")
    d3[key]=data
print(d3)

How many student data you want to store6
Enter the roll number56
Enter student nameAbhi
Enter the roll number46
Enter student nameSwati
Enter the roll number45
Enter student nameSuman
Enter the roll number23
Enter student nameShivangi
Enter the roll number34
Enter student nameSamreen
Enter the roll number89
Enter student nameTrishabh
{56: 'Abhi', 46: 'Swati', 45: 'Suman', 23: 'Shivangi', 34: 'Samreen', 89: 'Trishabh'}