# String
### Agenda today
1. str introduction
2. Creating str object
3. indexing
4. accessing str elements
5. built-in methods
6. concatenation andd repetition
7. comparison operator
8. str object methods
9. format
10. split and join
11. slicing operator

# 1.Str inroduction
* Str is a class
* str is immutable
* str is iterable
* str is hashable
* str is a sequence

# 2. How to create str object

In [1]:
s1="MysirG"
s2='MysirG'
s3="""MysirG"""
s4='''MysirG'''
s5=str()
s6=str(125)
s7=str(34.12)

In [2]:
print(s7)
print(s6)

34.12
125

In [3]:
s3

'MysirG'

# 3.indexing
indexing is same as list

# 4.Accessing str elements
1. str[index]
2. print(str)
3. for loop
4. slicing operator: We will learn it later

In [4]:
s1="MySirG"
print(s1[0],s1[1],s1[-2])

M y r

In [5]:
for x in s1:
    print(x)

M
y
S
i
r
G

# 5.Built in method
* len()
* min()
* max()
* sum()
* sorted()

In [6]:
len(s1)

6

In [7]:
min(s1) # The smallest alphabetically according to its unicode

'G'

In [8]:
max(s1) # The largest alphabetically

'y'

In [9]:
S1="MySirG Education Services"
min(S1) #it will return space

' '

In [10]:
max(S1)

'y'

In [11]:
sum(s1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# print the sum of the digits stored in string s2
s2="1234"
sum(s2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
int(s2)

1234

In [14]:
sum(int(s2))

TypeError: 'int' object is not iterable

In [15]:
s=0
for x in s2:
    s=s+int(x)
print(s)

10

In [16]:
# alternative way
sum(list(s2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
# through list comprehension
sum([int(e) for e in s2])

10

In [18]:
s3="1a2b3c4"
print(len(s3))
sum([int(e)for e in range(s3[0],7,2)])

7

TypeError: 'str' object cannot be interpreted as an integer

In [19]:
sum([int(e) for e in s3 if ord(e)>=49 and ord(e)<=57])

10

In [20]:
sorted(S1)

[' ',
 ' ',
 'E',
 'G',
 'M',
 'S',
 'S',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'i',
 'i',
 'i',
 'n',
 'o',
 'r',
 'r',
 's',
 't',
 'u',
 'v',
 'y']

# 6.Concatenation and Repetition Operator

In [21]:
S="ABHISHEK"
S2=" CHAUBEY"
S3=S+S2
print(S3)

ABHISHEK CHAUBEY

In [22]:
S=S*2
print(S)

ABHISHEKABHISHEK

In [23]:
J="de"
J*4

'dededede'

# 7.Comparison Operator
* S1>S2 gives true if S1 comes after S2 in dictionary order otherwise false

In [24]:
string1="abh"
string="bbh"
string>string1

True

# 8. Str object methods

* index()
* count()
* startswith()
* endswith()
* split()
* join()
* format()
* isdigit()
* islower()
* isupper()
* lower()
* upper()
* replace()

In [25]:
s1

'MySirG'

In [26]:
s1.index("G")

5

In [27]:
print(s1.count(""))
len(s1)

7

6

In [28]:
print(S)
S.count("AB")

ABHISHEKABHISHEK

2

In [29]:
s1.startswith("My")

True

In [30]:
S.endswith("SHEK")

True

In [31]:
s3

'1a2b3c4'

In [32]:
s3.isdigit()

False

In [33]:
S0="1234"

In [34]:
S0.isdigit()

True

In [35]:
s3.isalnum()

True

In [36]:
S0.isalnum()

True

In [37]:
S0.isalpha()

False

In [38]:
S0.islower()

False

In [39]:
S0.isupper()

False

# 9.Format
Format function is usually used with print function
* string.format(var1,var2.....)

In [40]:
#There is two way of format string. this one is different one.


first="Abhishek"
last="Chaubey"
name=f'{first}'
print(name)

Abhishek

In [ ]:
Name="ABHISHEK"
gender="Male"
print("Hi, my name is {} and I am a {}".format(gender,name))

In [ ]:
Name="ABHISHEK"
gender="Male"
S00="Hi, my name is {1} and I am a {0}".format(gender,name)
print(S00)

In [ ]:
s5="{},welcome"
s5.format("saurabh")

In [ ]:
a=5
b=4.5
s0="value of a is {} and b is {}"
s0.format(a,b)

In [ ]:
print(s0)

In [ ]:
"my name is {} {}".format(first,last)

In [ ]:
a="deewali"
b="holi"
K="this {} and {} we will enjoy a lot"
K.format(b,a)

In [ ]:
c=9
d=12.2
e=f'{c} and {c+d} are the values'
print(e)

In [ ]:
f="{} and {} are the values here" .format(d,c)

In [ ]:
print(f)

# 10.Split and Join

### 10.1 Split
Split function convert string into list of string on the basis of what you have passed in it, the base string.

In [41]:
# it will give result in list
S1="MySirG Education Services"
S1.split(" ")# It will split on the basis of what you have passed in the function present in the string

['MySirG', 'Education', 'Services']

In [42]:
S1.split("at")

['MySirG Educ', 'ion Services']

In [ ]:
S1.split("z") # since z is not here in the string, it will give the ditto same string

In [ ]:
s=input()

In [ ]:
l1=s.split(',')
print(l1)

In [ ]:
l2=[int(e) for e in l1]
print(l2)

In [43]:
l0=[int(x) for x in input().split(",")]
print(l0)

23,534,23
[23, 534, 23]

### 10.2 Join
syntax=base string.join(list of string)

In [44]:
r=["abhi","hydra","Jr"]
r

['abhi', 'hydra', 'Jr']

In [45]:
S01=" ".join(r)
print(S01)
type(S01)

abhi hydra Jr

str

In [ ]:
l0

# 11. Slicing Operator
* syntax=strobject[beg:end:step]
* if you dont give end value, it will be considered as last value inclusive
* Slicing Operator also works for list

In [ ]:
S01

In [ ]:
S01[1:5:2]

In [ ]:
S01[::2]

In [ ]:
S_="ABHISHEK CHAUBEY"
S_[:6:]

In [ ]:
S_[::3]

In [ ]:
S_[:3:-2]

In [ ]:
Y=S_[::-1]
print(Y)

In [ ]:
s345="yre5e54"
p=len(s345)

# Replacing

In [ ]:
"Abhishek".replace("Abhishek","Golu")

In [ ]:
G=S_.replace("ABHISHEK","Abhishek")

In [ ]:
S_

In [ ]:
G