# List
### Agenda today
1. What is a list
2. How to create list object
3. How to access list elements
4. Concept of negative indexing
5. Accessing list element via for loop
6. How to delete an element from a list
7. How to edit an element of the list
8. how to add more elements in the list
9. packing and unpacking
10. built-in methods
11. list() method
12. comparison opertors on list
13. concatenation opertors
14. repetion operator
15. list of list
16. list object methods
17. list comprehension
18. user input
19. mutability and hashability

# 1.List
* list is a class
* list is an iterable sequence (all sequence are iterable but not all iterable are sequence
* list is mutable
* list is growable
* list can store hetrogeneous data
* list elements are indexed

# 2. How to create list object
* l1=[10,20,350]  # square brackes are used to donate a list
* l2=[] # empty list
* l3=["a",12,True,3+5J]  # list can store heterogeneous elements

# 3. How to access list elements

In [1]:
l1=[10,253,35,3254]
print(l1)

[10, 253, 35, 3254]

In [2]:
l2=[]
print(l2)

[]

In [3]:
# to print particular elements of list, use indexing 
l1[0]

10

In [4]:
print(l1[4]) #this will give errror bcos l1 list has not 4 index
# the last index is 3 since indexing starts from 0

IndexError: list index out of range

In [5]:
l2[0] #error becous this is empty list

IndexError: list index out of range

In [6]:
L1=[50,20,80,10,60,40]
print(L1)

[50, 20, 80, 10, 60, 40]

In [8]:
print(L1[0])

50

In [9]:
print(L1[4],L1[3])

60 10

# 4.Concept of negative indexing
* l1=[50,32,54,53,32,35]
* negative indexing of l1=[-6,-5,-4,-3,-2,-1]

In [10]:
print(l1[-1])

3254

# 5. Accessing list element via for loop

In [10]:
for x in l1:
    print(x,end="\n")

10
253
35
3254

In [24]:
# question: Try this via while loop
i=0
while i<=3:
    print(l1[i], end=' ')
    i+=1

10 253 35 3254

In [25]:
# printing/accessing list element from reverse
i=3
while i>=0:
    print(l1[i],end=" ")
    i-=1

3254 35 253 10

# 6.How to delete an element from the list

In [40]:
L1

[60, 40]

In [39]:
del L1[2]

IndexError: list assignment index out of range

In [33]:
L1 #this is the new list we got after deleting the 2nd element

[50, 20, 10, 60, 40]

In [36]:
del L1[-3]
L1

[60, 40]

# 7. How to edit an element of the list
editting doesn't mean adding new value to list.
It just changes the existing value in the list

In [1]:
l1=[45,464,356,23,235,23]
l1[2]=34

In [2]:
print(l1)

[45, 464, 34, 23, 235, 23]

In [3]:
l1[6]=43 # this will give error as list doesnt have 6 indexes

IndexError: list assignment index out of range

# 8.How to add more elements in list

In [11]:
l=[50,34,45,462,90,12]

In [10]:
# what if i want to add one more value in the existing list l
l[6]=70 #here it gives error bcos 6 index is out of range. Total index is 5, starting from 0

IndexError: list assignment index out of range

In [12]:
l[5]=70
l[4]=90

# This is not a way to add values in list but to edit the list

In [12]:
l

[50, 34, 45, 462, 90, 70]

 Here in this list we have 6 values.. indexing from 0 to 5
 let's say i want to add new value at index no 4. so what will happen to the indexes of other values.. i.e= the value already stored at index 4?
 actually they shifted towards rights. for example. see in the code below
 when we add values to the list , the size of the list will increase

#### There are two standard ways to add elements in the list
1. append(): append can be used to add value in the last position of the list.. that's why we  pass only one argunment while using append()
2. insert(): this requeres passing index value as we use it for adding value anywhere in between the list. we pass here index, and values both
These functions are attributes of list class(means they will only apply to list)
Class is a group of variables and functions 
These variables and function are called attributes
#### How to use append() and insert()
* listobject.append(value)
* listobject.insert(index,value)

In [14]:
print(l)
l.append(23)
print(l)
# here 23 will get added in the last possition

[50, 34, 45, 462, 90, 70]
[50, 34, 45, 462, 90, 70, 23]

In [15]:
l.insert(-5,23) # here 23 will be added to the -5 index and rest indexes shifted rightwords
print(l)

[50, 34, 23, 45, 462, 90, 70, 23]

In [16]:
# if index > last index in the list, then value will store at last index+1
l.insert(24,34)

In [17]:
print(l)

[50, 34, 23, 45, 462, 90, 70, 23, 34]

# Packing and Unpacking

In [3]:
a=5
b=6
c=10
l2=[a,b,c] #packing
print(l2[0],l2[2])

5 10

In [4]:
l1=[20,50,30] # this is unpacking 
a,b,c=l1 # the number of variable in rhs must be equal to the number of elements in list

In [5]:
print(a,b,c)

20 50 30

# 10.Built in Methods
1. len()
2. min()
3. max()
4. sum()
5. sorted()
#### what's the difference between these functions(buil in methods) and append(),and insert() ?
##### Answer: the append(), and insert() are attributes of list so then can be called with list object and rest are built in method , you dont need to call with list object .. you can call them with any itterable object. here you pass the itterable objects as  argunemt

#### Len()
It returns length of specified iterable

In [6]:

l3=[34,34,345,342,32]
print(len(l3))

5

In [7]:
print(len(range(5)))

5

In [8]:
print(len("mysirg"))

6

In [9]:
min(l3) #it returns minimun value

32

In [1]:
j=["aje","4",45]
min(j) # it gives error bcos min only can evaluate between mathematical characters.
# same is true for max(),sorted(), and sum()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
max(l3)

In [2]:
sum(j)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# sorted()
sorted() function always returns list of sorted object. it always sort in ascending order .. if you want to sort in descending order, you have to specify it

In [3]:
j

['aje', '4', 45]

In [4]:
sorted(j)

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
a=["ad",'anb',"gu"]

In [18]:
sorted(l3)

[32, 34, 34, 342, 345]

In [21]:
l3 #  sorted  doesn't change the list. it just return the sorted list

[34, 34, 345, 342, 32]

In [22]:
# if you want to change the list with sorted value , you can assign the sorted values within new list
l4=sorted(l3)
print(l4)

[32, 34, 34, 342, 345]

In [20]:
sorted(a)

['ad', 'anb', 'gu']

# 11. list() method
list method can take at most 1 argunment and that one argunment must be iterable

In [29]:
l1=list()
l1

[]

In [2]:
k=list("abhi")
k

['a', 'b', 'h', 'i']

In [25]:
l2=list(10) #since 10 is int type and not iterable,, it is giving error

TypeError: 'int' object is not iterable

In [27]:
list(14,35,35)

TypeError: list expected at most 1 argument, got 3

In [26]:
l5=list("Abhishek")
print(l5)

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [28]:
len(l5)

8

In [29]:
l4=list(range(2,12,3))

In [30]:
print(l4)

[2, 5, 8, 11]

In [31]:
L2=list([3,5,3])

In [32]:
print(L2)

[3, 5, 3]

# 12.Comparison operator on list

In [37]:
l1=[1,2,3]
l2=[2,3,1]
l3=[1,2,3,4,5]
l4=[1,2,3]

In [38]:
l1==l2

False

In [40]:
l1==l4

True

In [41]:
l1>l3 # it evaluates the  orders values.. like here it will evaluate 1st element of both the list
# if both comes to be equal, it will evaluate next

False

# 13. concatenation opertors

In [43]:
a=[34,2,35]
b=[3,46,32]
c=a+b
print(c)

[34, 2, 35, 3, 46, 32]

In [45]:
a=a+b
print(a+b)

[34, 2, 35, 3, 46, 32, 3, 46, 32, 3, 46, 32]

In [46]:
a

[34, 2, 35, 3, 46, 32, 3, 46, 32]

# 14.Repetition Operator

In [47]:
d=[4,46]
d*4

[4, 46, 4, 46, 4, 46, 4, 46]

In [48]:
d

[4, 46]

In [49]:
5*d

[4, 46, 4, 46, 4, 46, 4, 46, 4, 46]

In [50]:
d

[4, 46]

In [51]:
d=d*2

In [52]:
d

[4, 46, 4, 46]

# 15. List of list

In [55]:
lol=[[3,4,6],["ahr",45,"Abhi"],[34,464,23]]

In [56]:
lol[0]

[3, 4, 6]

In [57]:
lol[0][2]

6

In [58]:
lol[1][1]

45

In [59]:
lol[1][2]

'Abhi'

In [60]:
lol[-1][-2]

464

In [65]:
lol

[[3, 4, 6], ['ahr', 45, 'Abhi'], [34, 464, 23]]

In [73]:
for x in lol:
    for y in x:
        print(y,end=" ")
    print()

3 4 6
ahr 45 Abhi
34 464 23

# 16.list object methods
* append() already studied
* insert() already studied
* remove(): it removes first occurence of specified element. it gives error if the element is not present in the list
* pop(): Remove and return last element optionally you can pass index number to pop specific element
* reverse(): reverse the list
* sort(): sort list elements
* index(): Return index of first occurence of specified element
* count(): Count number of occurence of specified element
* clear(): Remove all the elements

In [6]:
d=[23,35,23,53,445,23,25,78,22,34,35]
d.remove(23)
d

[35, 23, 53, 445, 23, 25, 78, 22, 34, 35]

In [15]:
b=[2,34,5]
b.extend("ag")
print(b)

[2, 34, 5, 'a', 'g']

In [25]:
b=[1,2,3,33,23,35,21,4,5,6,7,8,90]
b.remove(1)
b

[2, 3, 33, 23, 35, 21, 4, 5, 6, 7, 8, 90]

In [26]:
b.pop()
b

[2, 3, 33, 23, 35, 21, 4, 5, 6, 7, 8]

In [27]:
b.pop(7)

5

In [28]:
b

[2, 3, 33, 23, 35, 21, 4, 6, 7, 8]

In [34]:
b.index(3)

1

In [8]:
d.remove(23)
d

[35, 53, 445, 25, 78, 22, 34, 35]

In [10]:
d.reverse()
d

[35, 53, 445, 25, 78, 22, 34, 35]

In [23]:
print(d)
d.reverse()
d

[35, 34, 22, 78, 25, 445, 53, 35]

[35, 53, 445, 25, 78, 22, 34, 35]

In [21]:
a=[2,35,32,23,231]
a.reverse()
a

[231, 23, 32, 35, 2]

# 17.list comprehension
[ expression for variable in iterable]

In [75]:
l6=[x*3 for x in range(5)]
l6

[0, 3, 6, 9, 12]

In [78]:
l7=[3+x for x in range(5)]
l7

[3, 4, 5, 6, 7]

In [79]:
L=["3"+x for x in "abhishek"]
L

['3a', '3b', '3h', '3i', '3s', '3h', '3e', '3k']

In [12]:
[3.14*int(x)*int(x) for x in input("Enter the number")]

Enter the number3

[28.259999999999998]

In [19]:
[int(x) for x in input("Enter the number")]

Enter the number43246

[4, 3, 2, 4, 6]

In [21]:
print(j)

[4, 3, 2, 4, 6]

In [25]:
for s in j:
    print(str(s),end=" ")

4 3 2 4 6

In [33]:
print(m)

NameError: name 'm' is not defined

In [31]:
type(print(4))

4

NoneType

# 18. User input

In [3]:
print("Enter a list")
l4=list(input("enter the list"))
print(l4)

Enter a list
enter the list[4,6]
['[', '4', ',', '6', ']']

In [85]:
l4=list(input("enter the list"))
print(l4)

enter the list[3,4,5]
['[', '3', ',', '4', ',', '5', ']']

In [4]:
print("Enter some number")
l4=eval(input())
print(l4)

Enter some number
[4,5,6]
[4, 5, 6]

# 19.Mutability and hashability
* Mutable objects are changable
* immutable objects are not changable
* All immutable objects are hashable, but not all hashable objetcs are immutable
* Hashable is a feature of python objects that tells if  the object has a hash value or not, if it has hash value, it does not change during its entire lifetime