# Set
### Agenda today
1. Set introduction
2. Creating set object
3. Accessing set elements
4. built-in methods
5. concatenation and repetition operator
6. comparison operators
7. set object methods
8. set comprehension
9. user input

# 1.Set
* set is quite different than other iterables
* set is class
* set is mutable
* set is not hashable
* set is iterable
* set is not a sequence because orders of values/elements in it are not preserved
* set cannot have duplicate values
* since set is not a sequence,indexing is not applicable to set object
* since indexing is not applicable, you cant do slicing as well
* set doesn't guarantee to store values in the order of insertion

# 2. How to create set object

In [10]:
S1={1,5,6} # we use curly bracket to create set objects
print(S1)
type(S1)

{1, 5, 6}

set

In [11]:
S2={10,2,8,10,10,8}
print(S2)
type(S2)

{8, 10, 2}

set

In [12]:
print(S1)

{1, 5, 6}

In [13]:
print(S2)

{8, 10, 2}

In [14]:
S3={} #this is not set.. this is dict because curly braces
# is uded for dict as well

In [15]:
type(S3)

dict

In [16]:
# then how to create empty set ?
S4=set() # this is way to create empty set through set function

In [17]:
type(S4)

set

In [18]:
S5=set(10,20,30) # we can pass at most one function 
print(S5)

TypeError: set expected at most 1 argument, got 3

In [19]:
S01=set(10) # if you are passing the single element in set fuction,
# it must be iterable
print(S01)
type(S01)

TypeError: 'int' object is not iterable

In [20]:
S02=set("Abhi")
print(S02)

{'A', 'i', 'h', 'b'}

In [21]:
S03=set([3,6,4])
print(S03)
print(type(S03))

{3, 4, 6}
<class 'set'>

In [22]:
S04=set((3,6,7))
print(S04)
print(type(S04))

{3, 6, 7}
<class 'set'>

In [23]:
# so you can pass a set object in set function if you want to store
# mutliple objects..because this way you are passing single argunment
S5=set({10,20,30})
print(S5)
print(type(S5))

{10, 20, 30}
<class 'set'>

In [24]:
S0={,} # this is not correct way.. this will give error

SyntaxError: invalid syntax (<ipython-input-24-614ba5c6c7df>, line 1)

In [25]:
l1=[10,20,10,12,10,2,12,4,6]
s=set(l1)
print(s)
l2=list(set(l1))
print(l2)

{2, 4, 6, 10, 12, 20}
[2, 4, 6, 10, 12, 20]

# 3.Accesing set elements
Since there is not indexing, we can use for loop

In [26]:
for e in s:
    print(e)

2
4
6
10
12
20

# 4. built-in methods
* len()
* min()
* max()
* sum()
* sorted()

In [27]:
type(s)

set

In [28]:
print(len(s))

6

In [29]:
min(s)

2

In [30]:
sorted(S02) # sorted function always return sorted value

['A', 'b', 'h', 'i']

# 5.Concatenation and Repetition Operator
 both are not supported for set

In [31]:
#set+set not supported.. will give error
s+S02

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [32]:
s*S02

TypeError: unsupported operand type(s) for *: 'set' and 'set'

# 6.Comparison Operators
<,>,<=,>=,==,!=

* Two set objects are equal if their elements are same, doesn't matter the order of elements
* You cant relly only on equal to(==), and not equal to(!=) operator over set.. you can't rely on others operators although they are not going to give you ny errors

In [33]:
print(s)
print(S1)
print(S2)
print(S5)
print(S02)
print(S03)
print(S04)

{2, 4, 6, 10, 12, 20}
{1, 5, 6}
{8, 10, 2}
{10, 20, 30}
{'A', 'i', 'h', 'b'}
{3, 4, 6}
{3, 6, 7}

In [34]:
S1

{1, 5, 6}

In [35]:
S3={5,1,6}
S3

{1, 5, 6}

In [36]:
s1={1,1,6,6,5,1,5}
s1

{1, 5, 6}

In [37]:
s1==S3 #this will give true because elements are same as orders dont matter

True

In [38]:
s2={0,-1,2,3}

In [39]:
s1>s2 # Here comparison(<,>) happens

False

In [40]:
s1>S02

False

In [41]:
s1==S02

False

# 7.Set Object Methods
* add()
* update()
* discard()
* remove()
* intersection()
* union()
* clear()
* issubset()
* issuperset()
* pop()

In [42]:
print(s)
print(s1)

{2, 4, 6, 10, 12, 20}
{1, 5, 6}

In [43]:
# you can add anything hashable but cant unhashable elements
s1.add("Abhi")
print(s1)

{1, 'Abhi', 5, 6}

In [44]:
S0={1,2,{4,6}} # u can't insert set here
print(S0) # this gives error bcos set is kind of unhashable

TypeError: unhashable type: 'set'

In [45]:
s1.add([2,4])

TypeError: unhashable type: 'list'

In [46]:
s1.add((34,64))
print(s1)

{1, 5, 6, (34, 64), 'Abhi'}

#####  update function: What's the difference between working of  update() ,and add()  ?
* Ans: if we pass any hashable elements in add function, they get inserted in set while in update function you can pass only iterable
* in add, you can pass only one argunment, but in update, you can pass more than one argunments provided every elements must be iterable
* in update function,the iterable you are passing are not being added in set, but elements of iterables are being added in set. this is not the case for add(). in add hashable iterable object will be added in the set..
see the examples

In [47]:
s1.update([10,20])
print(s1)

{1, 5, 6, 10, (34, 64), 'Abhi', 20}

In [48]:
s2=s1.update([10,20],range(4,9,2),"is")

In [49]:
print(s1)
print(s2)

{'i', 1, 4, 5, 6, 8, 10, (34, 64), 'Abhi', 20, 's'}
None

## How to edit set objects
what if i want to edit the 34,64 inside the tupple , or any other elements here in set s1?
### Answer: this is not possible. Although, you can do it by first deleting it , and then adding new required element
>#### but how we will delete any object in set?
     here we have two option.. 
1. discard
2. remove

In [50]:
s1.discard((34,64))
s1

{1, 10, 20, 4, 5, 6, 8, 'Abhi', 'i', 's'}

In [51]:
s1.add((3,45))
s1

{(3, 45), 1, 10, 20, 4, 5, 6, 8, 'Abhi', 'i', 's'}

> #### what is the diffence between discard and remove?

if we discard non existing element of set, it doesnt give error.. but remove gives error.. 
see examples below

In [52]:
s1.discard(95)# 95 is not here in this set..but still it wont give any error

In [53]:
s1.remove(95) # this will give error

KeyError: 95

In [56]:
s01={1,2,3}
s02={3,4,5}
s02.intersection(s01)

{3}

In [57]:
s02.union(s01)

{1, 2, 3, 4, 5}

In [58]:
s01.intersection(s02)

{3}

In [59]:
s01.union(s02)

{1, 2, 3, 4, 5}

> ##### if you want to clear all elements from set, use clear().. it will become empty set after that

In [61]:
print(s02)
s02.clear()

{3, 4, 5}

In [64]:
print(s02)
type(s02)

set()

set

In [67]:
s1.add(3)
s1

{(3, 45), 1, 10, 20, 3, 4, 5, 6, 8, 'Abhi', 'i', 's'}

In [69]:
s02.issubset(s1)

True

In [70]:
s1.issuperset(s02)

True

In [72]:
s1.pop()

'i'

In [73]:
s1

{(3, 45), 1, 10, 20, 3, 4, 5, 6, 8, 'Abhi', 's'}

In [74]:
s1.pop()

1

In [76]:
s1.pop()

3

In [77]:
s1.pop()

4

# 8.set comprehension
> syntax: s1={expression for e in object}

In [80]:
s10={int(x) for x in input("enter the number")}

enter the number34675

In [81]:
s10

{3, 4, 5, 6, 7}

In [85]:
s12={for x in input()} # this gives error because expression is missing

SyntaxError: invalid syntax (<ipython-input-85-0987ff45ffb4>, line 1)

In [87]:
S10=input("enter the string")
s21={e for e in S10 if e in "aieou"}

enter the stringaueiyieew

In [88]:
print(s21)

{'i', 'a', 'u', 'e'}

# 9. User input

In [31]:
s00=input("Enter elements separated by comma")
s11={eval(e) for e in s00.split(",")}
s11

Enter elements separated by comma45,6,43,'L:'

{43, 45, 6, 'L:'}

In [30]:
s00=input("Enter elements separated by comma")
s00

Enter elements separated by comma544

'544'

In [22]:
eval(x) for x in s00

SyntaxError: invalid syntax (<ipython-input-22-ce6a6ad0bf21>, line 1)

In [18]:
s_={"Avg","mean","mode",6}

In [19]:
s_

{6, 'Avg', 'mean', 'mode'}

In [25]:
st=input("enter a value")

enter a valuete,tewe,

In [26]:
st

'te,tewe,'